*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html,body 
{
    height: 100vh;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1495475973814-1f767e1f1fc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE3fHx3aGl0ZSUyMGZsb3dlciUyMHdpdGglMjB3b21lbnxlbnwwfHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
}

#main #blur{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.761);
}

#main #blur #nav{
    position: absolute;
    height: 12vh;
    width: 100%;
    border-bottom: 2px solid rgb(133, 133, 133);
}

#main #blur #part1{
    height: 200vh;
    width: 8%;
    border-right: 2px solid rgb(133, 133, 133);

}

#main #blur #part1 #part11{
    position: absolute;
    top: 12vh;
    height: 88vh;
    width: 8%;
    border-top-right-radius: 25px;
    border-top: 2px solid rgb(133, 133, 133);
}

#main #blur #part1 #part12{
    position: absolute;
    top: 0vh;
    height: 12vh;
    width: 8%;
    border-bottom-right-radius: 25px;
    border-bottom: 2px solid rgb(133, 133, 133);
}

#main #blur #part2{
    height: 100vh;
    width: 60%;
    border-right: 2px solid rgb(133, 133, 133);
}

#main #blur #part2 #part21{
    position: absolute;
    top: 12vh;
    left: 8vw;
    height: 88vh;
    width: 60%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top: 2px solid rgb(133, 133, 133);
}

#main #blur #part2 #part21 #text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    margin: 60px 60px;
}

#main #blur #part2 #part21 #text h2{
    position: absolute;
    top: 8.3%;
    left: 11%;
    font-size: 30px;
    color: rgb(223, 223, 223);
    font-family: Made Bon Voyage;
}

#main #blur #part2 #part21 #text1{
    width: 800px;
    margin: -20px 60px;
}

#main #blur #part2 #part21 #text1 h1{
    font-size: 57px;
    color: rgb(197, 195, 195);
    font-family: Made Bon Voyage;
}

#main #blur #part2 #part21 #text2{
    width: 700px;
    margin: 35px 70px;
}

#main #blur #part2 #part21 #text2 p{
    font-size: 16px;
    color: rgb(197, 195, 195);
    font-family: Made Bon Voyage;
}

#main #blur #part2 #part21 button{
    width:250px;
    height: 60px;
    margin: -10px 70px;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid rgb(197, 195, 195);
    color: rgb(216, 216, 216);
    font-family: Made Bon Voyage;
}

#main #blur #part2 #part21 button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(197, 195, 195);
}

#main #blur #part2 #part21 #pic{
    position: relative;
    height:200px;
    width: 150px;
    margin: 43px 70px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

#main #blur #part2 #part21 #pic img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

#main #blur #part2 #part21 #text3{
    height:200px;
    width: 300px;
    margin: -243px 250px;
}

#main #blur #part2 #part21 #text3 #comment
{
    margin: 10px 0px;
    font-family: Made Bon Voyage;
    font-size: 20px;
    font-weight: 600;
    color: rgb(196, 196, 196);
}

#main #blur #part2 #part21 #text3 #name
{
    margin: 10px 0px;
    font-family: Made Bon Voyage;
    font-size: 20px;
    font-weight: 600;
    color: rgb(196, 196, 196);
}

#main #blur #part2 #part21 #text3 h3 i{
    font-size: 20px;
    font-weight: 100;
    color: rgb(196, 196, 196);
}

#main #blur #part2 #part21 #text3 p{
    font-family: Made Bon Voyage;
    font-size: 15px;
    font-weight: 600;
    color: rgb(196, 196, 196);
}

#main #blur #part2 #part22{
    position: absolute;
    top: 0%;
    height: 12vh;
    width: 60vw;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 2px solid rgb(133, 133, 133);
}

#main #blur #part2 #nav1{
    height: 12vh;
    width: 100%;
}

#main #blur #part2 #nav1 #nav2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0%;
    height: 12vh;
    width: 42vw;
    padding: 0px 20px;
}

#main #blur #part2 #nav1 #nav2 h4{
    font-size: 18px;
    font-family: Made Bon Voyage;
    color: rgb(223, 223, 223);
}

#main #blur #part2 #nav1 #nav2 h4:hover{
    cursor: pointer;
    font-size: 25px;
    text-shadow: 5px 0px 10px rgb(250, 250, 250);
}

#main #blur #part2 #nav1 #nav3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 50%;
    height: 12vh;
    width: 18vw;
    padding: 0px 30px;
}

#main #blur #part2 #nav1 #nav3 h4{
    font-size: 18px;
    font-family: Made Bon Voyage;
    color: rgb(223, 223, 223);
}

#main #blur #part2 #nav1 #nav3 h4:hover{
    cursor: pointer;
    font-size: 25px;
    text-shadow: 5px 0px 10px rgb(250, 250, 250);
}

#main #blur #part2 #nav1 #nav3 svg{
    position: absolute;
    left: 70%;
    top: 34%;
}

#main #blur #part2 #nav1 #nav3 svg:hover{
    cursor: pointer;
    transform: scale(1.3);
    filter: drop-shadow(2px 0px 1px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(2px 0px 1px rgb(255, 255, 255));
}

#main #blur #part3{
    height: 100vh;
    width: 24vw;
    border-right: 2px solid rgb(133, 133, 133);
}

#main #blur #part3 #part31{
    position: absolute;
    top: 12%;
    left: 68%;
    height: 88vh;
    width: 24%;
    background-image: url("https://images.unsplash.com/photo-1611673307654-6b688e32b0f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2hpdGUlMjBmbG93ZXIlMjB3aXRoJTIwd29tZW58ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;  
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top: 2px solid rgb(133, 133, 133);
}

#main #blur #part3 #part32{
    position: absolute;
    top: 0%;
    height: 12vh;
    width: 24%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 2px solid rgb(133, 133, 133);
}

#main #blur #part3 #blur1{
    position: absolute;
    top: 12%;
    left: 68%;
    height: 88vh;
    width: 24%;
    background-color: rgba(0, 0, 0, 0);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top: 2px solid rgb(133, 133, 133);
    z-index: 3;
}

#main #blur #part4{
    height: 200vh;
    width: 8%;
    border-left: 2px solid rgb(133, 133, 133);
}

#main #blur #part4 #part41{
    position: absolute;
    top: 12%;
    left: 92%;
    height: 88vh;
    width: 8%;
    border-top-left-radius: 25px;
    border-left: 1px solid rgb(133, 133, 133);
    border-top: 2px solid rgb(133, 133, 133);
}

#main #blur #part4 #part42{
    position: absolute;
    top: 0%;
    height: 12vh;
    width: 6%;
    border-bottom-left-radius: 25px;
    border-bottom: 2px solid rgb(133, 133, 133);
}

#main1{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}

#main1 #text4{
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main1 #text4 h1{
    font-size: 60px;
    font-family: Made Bon Voyage;
}

#main1 #rect{
    display: flex;
    height: 300px;
    width: 1100px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main1 #rect #card{
    text-align: center;
    width: 230px;
    margin: 30px 67px;
}

#main1  #rect #card #circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 7px 70px;
}

#main1 #rect #card h3{
    margin: 7px 0px;
    font-size: 30px;
    font-weight: 300;
    font-family: Made Bon Voyage;
    color: rgb(0, 0, 0);
}

#main1 #rect #card h4{
    margin: 7px 0px;
    font-size: 15px;
    font-weight: 600;
    font-family: Made Bon Voyage;
    color: rgb(0, 0, 0);
}

#main2{
    display: flex;
    height: 85vh;
    width: 100%;
    background-color: rgb(22, 22, 22);
}

#main2 #stock{
    height: 70vh;
    width: 40%;
    margin: 6% 7.5%;
}

#main2 #stock h1{
    font-family: Made Bon Voyage;
    font-size: 57px;
    font-weight: 550;
    word-spacing: 10px;
    color: rgb(223, 223, 223);
}

#main2 #stock #swipe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 300px;
    margin: 30px 0px;
}

#main2 #stock #swipe #left{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 7.5%;
    height: 50px;
    width: 120px;
    background-color: transparent;
    border: 2px solid rgb(197, 195, 195);
}

#main2 #stock #swipe #right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 17%;
    height: 50px;
    width: 120px;
    background-color: transparent;
    border: 2px solid rgb(197, 195, 195);
}

#main2 #stock h4{
    font-family: Made Bon Voyage;
    font-size: 40px;
    font-weight: 600;
    word-spacing: 10px;
    color: rgb(223, 223, 223);
}

#main2 #rect1{
    display: flex;
    height: 550px;
    width: 820px;
    position: absolute;
    left: 40%;
    margin: 5% 0%;
}

#main2 #rect1 img{
    height: 400px;
    width: 230px;
    margin: 20px 22px;
}

#main2 #rect1 #name1{
    margin: 15px 22px;
    font-family: Made Bon Voyage;
    font-size: 25px;
    font-weight: 600;
    word-spacing: 5px;
    color: rgb(223, 223, 223); 
}

#main2 #rect1 #rate{
    margin: -10px 22px; 
    font-family: Made Bon Voyage;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 5px;
    color: rgb(223, 223, 223); 
}

#main3{
    display: flex;
    height: 100vh;
    width: 100%;
}

#main3 #img{
    margin: 8.5% 6%;
    height: 78vh;
    width: 30%;
    background-image: url("https://images.unsplash.com/photo-1600939991914-d70756d1d294?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z2lybCUyMGluJTIwbGVhZnN8ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

#main3 #text5{
    position: absolute;
    left: 35%;
    margin: 8.5% 3%;
    height: 78vh;
    width: 60%;
}

#main3 #text5 #design{
    height: 35%;
    width: 90%;
    margin: 0% 5%;
}

#main3 #text5 h1{
    font-family: Made Bon Voyage;
    font-size: 55px;
    font-weight: 500;
    color: rgb(17, 17, 17);
    word-spacing: 5px;
    margin: 0px 30px;
}

#main3 #text5 #para1{
    height: 19%;
    width: 90%;
    margin: 0% 5%;
    text-align: justify;
}

#main3 #text5 #det1{
    margin: 35px 30px;
    font-size: 16px;
    font-weight: 300;
    font-family: Made Bon Voyage;
    color: black;
}

#main3 #text5 #rect2{
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% 4%;
}

#main3 #text5  #rect2 #card2{
    text-align: center;
    height: 90%;
    width: 25%;
    margin: 0% 3.5%;
}

#main3 #text5  #rect2 #card2 h2{
    font-family: Made Bon Voyage;
    font-size: 35px;
    margin: 5px 40px;
}

#main3 #text5  #rect2 #card2 #det{
    font-family: Made Bon Voyage;
    font-size: 15px;
    margin: 10px 0px;
}

#main3 #text5 button{
    margin: 1% 8%;
    height: 50px;
    width: 250px;
    border: none;
    background-color: black;
    font-family: Made Bon Voyage;
    font-size: 25px;
    color: rgb(223, 223, 223);
    word-spacing: 10px;
}

#main3 #text5 button:hover{
    color: #fff;
    text-shadow: 5px 0px 10px rgb(250, 250, 250);
    height: 55px;
    width: 275px;
    font-size: 30px;
    cursor: pointer;
}

#main4{
    height: 100vh;
    width: 100%;
}

#main4 #navb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    margin: 50px 0px;
}

#main4 #navb #navb1{
    display: flex;
    align-items: center;
    height: 110px;
    width: 500px;
    margin: 0px 30px;
}

#main4 #navb #navb1 h3{
    font-family: Made Bon Voyage;
    font-size: 40px;
    word-spacing: 10px;
    margin: 0% 12.5%;
    cursor: pointer;
}

#main4 #navb #navb2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 110px;
    width: 300px;
    margin: 0px 30px;
}

#main4 #navb #navb2 h3{
    font-family: Made Bon Voyage;
    font-size: 40px;
    word-spacing: 10px;
    margin: 0% 17%;
    cursor: pointer;
}

#main4 #blog1{
    display: flex;
    height: 35vh;
    width: 88.5%;
    margin: -65px 87px;
}

#main4 #blog1 #blog11{
    display: flex;
    height: 100%;
    width: 67.5%;
    border: 2px solid rgba(0, 0, 0, 0.378);
}

#main4 #blog1 #blog11 #blog111{
    display: flex;
    height: 100%;
    width: 48%;
    background-image: url("https://images.unsplash.com/photo-1585328588821-b60f13dda129?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

#main4 #blog1 #blog11 #blog112{
    height: 100%;
    width: 52%;
}

#main4 #blog1 #blog11 #blog112 h4{
    margin: 15px 35px;
    font-family: Made Bon Voyage;
    font-size: 20px;
    color: rgb(136, 136, 136);
}

#main4 #blog1 #blog11 #blog112 h3{
    margin: 15px 35px;
    font-family: Made Bon Voyage;
    font-size: 25px;
}

#main4 #blog1 #blog11 #blog112 p{
    margin: 15px 35px;
    font-family: Made Bon Voyage;
    font-size: 16px;
}

#main4 #blog1 #blog12{
    height: 100%;
    width: 32.5%;
    margin-left: 2%;
    border: 2px solid rgba(0, 0, 0, 0.378);
}

#main4 #blog1 #blog12 #blog121{
    height: 57.5%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1495783111863-149530b763b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEyfHxmbG93ZXJ8ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

#main4 #blog1 #blog12 #blog122{
    height: 35%;
    width: 100%;
}

#main4 #blog1 #blog12 #blog122 h4{
    margin: 10px 35px;
    font-family: Made Bon Voyage;
    font-size: 18px;
    color: rgb(136, 136, 136);
}

#main4 #blog1 #blog12 #blog122 h3{
    margin: 10px 35px;
    font-family: Made Bon Voyage;
    font-size: 20px;
}

#main4 #blog2{
    display: flex;
    height: 35vh;
    width: 88.5%;
    border: 2px solid rgba(0, 0, 0, 0.378);
    margin: 93px 87px;
}

#main4 #blog2 #blog21{
    direction: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 66.2%;
    background-image: url("https://images.unsplash.com/photo-1495475973814-1f767e1f1fc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

#main4 #blog2 #blog21 h3{
    margin: 110px 108px;
    font-family: Made Bon Voyage;
    font-size: 35px;
    word-spacing: 10px;
    color: rgb(255, 255, 255);
}

#main4 #blog2 #blog22{
    height: 100%;
    width: 33.8%;
}

#main4 #blog2 #blog22 h4{
    margin: 16px 33px;
    font-family: Made Bon Voyage;
    font-size: 20px;
    color: rgb(136, 136, 136);
}

#main4 #blog2 #blog22 h3{
    margin: 16px 33px;
    font-family: Made Bon Voyage;
    font-size: 23px;
}

#main4 #blog2 #blog22 p{
    margin: 20px 33px;
    font-family: Made Bon Voyage;
    font-size: 16px;
}

#main5{
    height: 52.3vh;
    width: 100%;
    background-color: rgb(43, 43, 43);
}

#main5 #text6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0px 480px;
}

#main5 #text6 h1{
    font-family: Made Bon Voyage;
    font-size: 45px;
    word-spacing: 10px;
    margin-top: 60px;
    color: rgb(225, 225, 225);
}

#main5 #para2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 610px;
    margin: 0px 417px;
    text-align: center;
}

#main5 #para2 p{
    font-family: Made Bon Voyage;
    font-size: 16px;
    margin-top: 30px;
    word-spacing: 1px;
    color: rgb(225, 225, 225);
}

#main5 #subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 610px;
    background-color: #fff;
    margin: 40px 419px;
    text-align: center;
    padding: 0px 10px;
}

#main5 #subscribe1{
    display: flex;
    align-items: center;
    height: 60px;
    width: 310px;
    background-color: #fff;
    font-family: Made Bon Voyage;
    font-size: 25px;
    border: none;
    outline: #fff;
}

#main5 #subscribe1:hover{
    border: none;
}

#main5 button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 210px;
    background-color: black;
    border: none;
    font-family: Made Bon Voyage;
    font-size: 25px;
    color: rgb(225, 225, 225);
}

#main5 button:hover{
    cursor: pointer;
    text-shadow: 5px 0px 4px rgb(250, 250, 250);
}

#main5 #contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    width: 450px;
    margin: -15px 510px;
    text-align: center;
    padding: 0px 100px;
}

#main5 #contact i{
    font-size: 28px;
    color: rgb(225, 225, 225);
}

#main5 #contact i:hover{
    cursor: pointer;
    text-shadow: 5px 0px 10px rgb(250, 250, 250);
}
      
